# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

packages/
.vs/
cync-windows/copytree/bin/
cync-windows/copytree/obj/
cync-windows/copytree/x64/
cync-windows/cync/bin/
cync-windows/cync/obj/
cync-windows/cync/x64/
cync-windows/cyncore/bin/
cync-windows/cyncore/obj/
cync-windows/cyncore/x64/
cync-windows/encoding/x64/
cync-windows/unitests/bin/
cync-windows/unitests/obj/
cync-windows/unitests/x64/
cync-windows/x64/
cync-linux/cync/bin/
cync-linux/cync/obj/
cync-linux/cyncore/bin/
cync-linux/cyncore/obj/
cync-linux/build-release
cync-linux/build-debug
