# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

packages/
.vs/
copytree/bin/
copytree/obj/
copytree/x64/
cync/bin/
cync/obj/
cync/x64/
cync-windows/bin/
cync-windows/obj/
cync-windows/x64/
cyncore/bin/
cyncore/obj/
cyncore/x64/
encoding/x64/
unitests/bin/
unitests/obj/
unitests/x64/
x64/