version: "0.8.{build}"

image:
  - Visual Studio 2017

platform: x64

configuration:
  - Debug

init:
  - cmd: cmake --version
#  - ps: Write-Host (Get-Location).Path
#  - ps: cd c:\projects
#  - ps: Write-Host (Get-Location).Path

build: off
#  project: cync-windows.sln